---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Information">
  <meta http-equiv="refresh" content="0; url=/information/" />
  <p class="redirect-note">This page moved to <a href="/information/">Information</a>.</p>
</BaseLayout>
